

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #252941;
}
h1,
h3 {
  font-weight: 400;
}
.header {

  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.ri-cloudy-fill {
  color: #b9b9b9;
}
/* Correctly defined CSS rules */
.weather-wrapper {
    min-height: 100vh;
    background-image: url('/images/day/clear.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    transition: 500ms;
    opacity: 1;
  }
.weather-wrapper::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.weather-wrapper-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 32px 48px 64px 48px;
}
.weather-wrapper-container > div{
display: flex;
justify-content: center;
align-items: center;
}

.temp, .city-time, .weather{
  margin: 0 1rem;
  text-transform: capitalize;
}
.weather .condition{
  margin: 0 .10rem;
  word-break:keep-all;
}
.city-time h1{
  margin: 0;
  margin-bottom: 3.2px;
  text-transform: capitalize;
  font-size: 48px;
}
.temp{
  font-size: 112px;
  margin: 0;
}
.weather img{
  display: block;
  margin: 8px 0;
}
.search-container{
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.459);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(3, 3, 3, 0.18);
  z-index: 1;
  padding: 48px 32px;
  overflow-y: scroll;
}
.search-container::-webkit-scrollbar{
  display: block;
}
.search-container form{
  margin-bottom: 48px;
}
.btn{
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 18px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 19px;
  border: none;
  outline: none;
  transition: .4s;
}
.btn:hover{
  color: #f27d0c;
}
.search{
  background: none;
  border: none;
  border-bottom: 1px solid #fff ;
  padding: 0 16px 8px 0;
  width: 80%;
  font-size: 18px;
  color: #dddbdb;
  font-weight: 500;
}
.search:focus{
  outline: none;
}
.search::placeholder{
  color: #cec7c7;
}

.search-container ul{
  padding: 0 0 16px 0;
  margin: 32px 0;
  list-style: none;
  border-bottom: 1px #fff solid;
  text-transform: capitalize;
}
.search-container ul li{
  color: #fff;
  margin: 40px 0;
}
.search-container ul h4{
  margin: 32px 0;
  text-transform: capitalize;

}
.w-details li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .weather-forecast {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
.weather-forecast h4{
  text-transform: capitalize;
  margin: 32px 0;

}
  .weather-forecast .info {
    text-transform: capitalize;
    background: rgba(49, 49, 49, 0.459);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    margin: 7% auto;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
  }

  .weather-forecast img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
  }

  .weather-forecast span {
    margin: 10px;
    display: inline-block;
  }
 .errormsg{
  color: #f27d0c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
 }




  /* media query */


@media only screen and (max-width: 800px) {
  .search-container, .weather-wrapper-container {
    position: relative;
    width: 100%;
    top: initial;
  }
  .weather-forecast .info {
    width: 70%;
    margin: 5% auto;
  }
  
    
     .city-time, .weather{
      margin: 0 .1rem;
      font-size: 18px;
      text-transform: capitalize;
    }
 .temp{
  font-size: 68px;
 }
}


@media only screen and (max-width: 500px) {
  
  .weather-forecast .info {
    width: 90%;
    margin: 2% auto;
  }
  .city-time, .weather{

    font-size: 12px;
    text-transform: capitalize;
  }
.temp{
font-size: 30px;
}
.city-time h1{
  margin: 1px 10px;
  font-size: 30px;
}
.city-time, .weather{
  font-size: 14px;
  text-transform: capitalize;
}
}

/* Media query for screens with a maximum height of 300px */
@media only screen and (max-height: 300px) {
  .weather-wrapper {
    min-height: 700px;
  }
}